@import "reset.scss";
@import 'vars.scss';

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@each $bp,
$size in $breakpoints {
    @media screen and (min-width: $size) {

        @if($bp==xl) {
            .container {
                max-width: 1096px;
            }
        }

        @if($bp==xxl) {
            .container {
                max-width: 1266px;
            }
        }

        @if($bp==sm) {
            .container {
                max-width: 600px;
            }
        }

        @if($bp==md) {
            .container {
                max-width: 720px;
            }
        }

        @if($bp==lg) {
            .container {
                max-width: 960px;
            }
        }
    }
}