%roboto_r {
    font-family: "RobotoRegular";
    font-weight: 400;
}

%roboto_b {
    font-family: "RobotoBold";
    font-weight: 700;
}


$breakpoints: (xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1280px,
    xxl: 1600px);

$primary:#12a88f;
$secondary: #818181;
$hover:rgb(9, 116, 187);
$active:#eb7c0c;