%roboto_r {
    font-family: "RobotoRegular", serif;
    font-weight: 400;
}

%roboto_r {
    font-family: "RobotoBold", serif;
    font-weight: 700;
}


$breakpoints: (xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1280px,
    xxl: 1600px);

$primary:#f91c3b;
$secondary: #093868;