@import 'assets/scss/mixins.scss';
@import 'assets/scss/vars.scss';

.navbar {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    @extend %roboto_r;


}

.logo {
    @include col(20%);
}

.navbar_collapse {
    display: flex;
    @include col(50%);
}

.nav_item {
    color: $primary;
    font-size: 20px;
}